body {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px 20px;
    background: black;
    min-width: 200px;
}

.navbar img {
    max-width: 200px;
    height: auto;
    border-radius: 24px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.nav-items a {
  color: #000;
  background-color: #fff;
  display: inline;
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 1em;
  text-align: center;
}

.container {
  margin: 20px;
}